extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="torre paris", class="img-fluid")
            .col-md-7 
                h1=pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam scelerisque mauris sed metus molestie tincidunt. Maecenas mollis venenatis varius. Aenean accumsan tincidunt quam, nec fermentum eros rhoncus ut. Sed a finibus urna.

                p Donec maximus purus a felis venenatis, interdum pharetra nulla elementum. Suspendisse commodo tellus vitae nibh tristique ultricies. Praesent luctus condimentum nisi. Vivamus tellus nisl, dictum nec finibus ut, hendrerit eu diam. Sed mi nisl, luctus at urna eu, efficitur egestas neque. Suspendisse sit amet convallis neque. Proin efficitur velit eget leo convallis, sed scelerisque nibh tincidunt. Phasellus suscipit magna elementum tristique semper. Maecenas mattis, justo nec cursus placerat, enim mauris pulvinar arcu, sit amet sodales dolor purus at libero. Donec volutpat odio non malesuada facilisis. 

                p In ex ante, laoreet et porta sed, efficitur eu leo. Cras vitae orci id ligula varius fermentum. Morbi tempus aliquet metus eget fringilla. Vestibulum luctus, diam eget consequat venenatis, libero sem bibendum leo, tristique commodo est mi pellentesque libero. Donec ac ligula id eros accumsan ultricies. Pellentesque in tincidunt leo. Curabitur elementum leo vitae nisl malesuada, in euismod sem finibus. Vivamus sed quam posuere, luctus arcu a, condimentum leo.

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Pellentesque in tincidunt leo. Curabitur elementum leo vitae nisl malesuada, in euismod sem finibus. Vivamus sed quam posuere, luctus arcu a, condimentum leo.
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Pellentesque in tincidunt leo. Curabitur elementum leo vitae nisl malesuada, in euismod sem finibus. Vivamus sed quam posuere, luctus arcu a, condimentum leo.
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios 
                    p Pellentesque in tincidunt leo. Curabitur elementum leo vitae nisl malesuada, in euismod sem finibus. Vivamus sed quam posuere, luctus arcu a, condimentum leo.